body {
    background: url(../img/wallpapers.jpg) no-repeat center center fixed;
    background-size:cover;
    min-width: 1000px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    min-width: 850px;
    height: 80vh;
    min-height: 700px;
    background-color: rgba(2, 2, 2, 0.315);
    transition: 1s .5s;

    &__card-place {
        position: relative;
        width: 80%;
        min-width: 600px;
        height: 80%;
        min-height: 600px;
        transition: 1s .5s;

        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items:center;
        align-content: space-between;
        justify-content: space-between;
    }

    &__card-holder {
        perspective: 1000px;
        background-color: rgba(0, 0, 0, 0.027);
        width: 9.5vw;
        height: 23vh;
        min-width: 140px;
        min-height: 170px;

        &.active .game__card {
            transform: rotateY(180deg);
        }
    }

    &__card{
        visibility:inherit;
        transition: 0.6s;
        transform-style: preserve-3d;
        position:relative;
        width: 9.5vw;
        height: 23vh;
    }
}

.audio__mute {
    position: absolute;
    width: 8vh;
    height: 8vh;
    z-index: 5;
    right:2vh;
    top:2vh;
    background-image: url('https://api.iconify.design/uil:music-note.svg?color=rgba(2%2C2%2C2%2C0.615)');
    background-repeat: no-repeat;
    background-size:50px;
}

.cards__front, .cards__back {
    width: 9.5vw;
    height: 23vh;
    min-width: 140px;
    min-height: 170px;
    backface-visibility: hidden;
    position:absolute;
    visibility:inherit;
    top:0;
    left:0;
}

.cards__front {
    border: 2px solid black;
    z-index: 2;
    transform: rotateY(180deg);
    border-radius: 5px;
}

.cards__back {
    transform: rotateY(0deg);
}

.card__back, .card__front {
    visibility:inherit;
    width: 9.5vw;
    height: 23vh;
    min-width: 140px;
    min-height: 170px;
    border-radius: 5px;
}

.hide {
    visibility:hidden;
}
